.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid grey;
  width: 70px;
  height:100px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:5px;
}
.topLeft {
  position: relative;
  top: -15px;
  left: -20px;
}

.bottomRight {
  position: relative;
  top: 15px;
  left: 20px;
  transform: rotate(180deg);
}
#playerScore {
 display:inline-block;
 margin-right: 20px;
}
#compScore {
  display:inline-block;
 }
